@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @* style="background: linear-gradient(90deg,#bf6000 0,#f29400 30%,#f29400 70%,#bf6000 100%)" *@
    <div class="top-row px-4">
       
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
